<a href="https://colab.research.google.com/github/Santgupt/Python-Practice/blob/master/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'This is me'

'This is me'

In [ ]:
"This is me"

'This is me'

In [ ]:
a=2
b=1
while a<=10:
  print(b,'*',a,'=',b*a)
  a=a+1

1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [ ]:
a="Hello World"

In [ ]:
print(a[:: -1])

dlroW olleH

In [ ]:
str1 = "Pynative"

In [ ]:
print( str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])

yna Pynat tive Pynativ Pynativ

In [ ]:
var= "James Bond"

In [ ]:
print(var[2::-1])

maJ

In [ ]:
str1 = 'Welcome'

In [ ]:
print(str1[:6]+ 'PYnative')

WelcomPYnative

In [ ]:
names = ['Amir', 'Barry', 'Chales', 'Dao']

In [ ]:
print(names[-1][-1])

o

In [ ]:
name = "snow storm", name[5] = "X"

SyntaxError: ignored

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]

In [ ]:
sampleList.append("Scott")

In [ ]:
print(sampleList)

['Jon', 'Kelly', 'Jessa', 'Scott']

In [ ]:
data = {'county': ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}

In [ ]:
data

{'county': ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'],
 'reports': [4, 24, 31, 2, 3],
 'year': [2012, 2012, 2013, 2014, 2014]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

       county  year  reports
0     Cochice  2012        4
1        Pima  2012       24
2  Santa Cruz  2013       31
3    Maricopa  2014        2
4        Yuma  2014        3

In [ ]:
import pandas as pd

In [ ]:
df

       county  year  reports
0     Cochice  2012        4
1        Pima  2012       24
2  Santa Cruz  2013       31
3    Maricopa  2014        2
4        Yuma  2014        3

In [ ]:
df1=df.set_index('county')

In [ ]:
df1

            year  reports
county
Cochice     2012        4
Pima        2012       24
Santa Cruz  2013       31
Maricopa    2014        2
Yuma        2014        3

In [ ]:
df1.loc['Yuma']

year       2014
reports       3
Name: Yuma, dtype: int64